<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.voiceprescription">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePageActivity"></activity>
        <activity android:name=".VoiceToDisplayActivity" android:noHistory="true"></activity>
        <activity android:name=".DataWriterActivity" android:theme="@style/AppTheme.popup_window"></activity>
        <activity android:name=".GatherPatientInfoActivity" android:noHistory="true"></activity>
        <activity android:name=".TimelineActivity" android:noHistory="true"></activity>
        <activity android:name=".GatherPatientIdActivity" android:noHistory="true"></activity>
        <activity android:name=".FoundPatientDetailsActivity" android:theme="@style/AppTheme.popup_window" android:noHistory="true"></activity>
        <activity android:name=".ShareAndSaveActivity" android:noHistory="true"></activity>
    </application>

</manifest>